<!-- Market section -->
<section>

    <div class="container" style="margin-top: 200px">
        <label style="color:#fff; font-size: 40px;">Basket</label>
    </div>

	<div class="container shop-container">
		<% for(var i=0; i < products.length; i++) { %>
		<div class="card shop-card">
			<a class="container-fliud" href="/product/<%= products[i]._id %>">
				<div class="wrapper row">
					<div class="preview col-md-12">
						
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						</div>
						
						
						<h3 class="product-title"><%= products[i].name %></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description"><%= products[i].description %></p>
						<h4 class="price">current price: <span>$<%= products[i].price %></span></h4>
					</div>
				</div>
			</a>
		</div>
		<!-- End of card -->
		<% } %>
	</div>

</section>
<!-- /market section -->