<!-- Connect section -->
<section class="banner full-screen-mode parallax" style="height:auto;">
    <div class="container pr">

        <div class="register-form">

            <!-- Get flash messages on register error -->
            <%- include ('partials/messages'); %>
        
            <div>
                <div>
                    <form class="form-horizontal" role="form" action="/connect" method="POST" autocomplete="off">

                        <legend>Complete fields to connect</legend>
                        
                        <div class="form-group">
                            <!-- Email -->
                            <div class="col-sm-6">
                                <label for="email">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="email" placeholder="mario-and-luigi@gmail.com" id="emailLogin" name="email" class="form-control">
                            </div>
                            <!-- Password -->
                            <div class="col-sm-6">
                                <label for="password">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="password" placeholder="m&LenTerPRIs3" id="passwordLogin" name="password" class="form-control">
                            </div>
                        </div>

                        <!-- Submit button -->
                        <input type="submit" class="button" name="Connect" value="Connect">
                    </form>
                    
                    <!-- Margin -->
                    <div style="height:450px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /connect section -->
