<!-- Create Product section -->
<section class="container create-product-container">
    <%- include ('partials/messages'); %>
    <form class="form create-product-form" role="form" autocomplete="off"  action="/product/create" method="post" id="productForm">
        <div class="form-group">

            <div class="col-xs-6">
                <label for="name">
                    <h4>Product name</h4>
                </label>
                <input type="text" class="form-control" name="name" id="name"
                    placeholder="Desk" title="Product name">
            </div>

            <div class="col-xs-6">
                <label for="price">
                    <h4>Product price</h4>
                </label>
                <input type="number" class="form-control" name="price" id="price"
                    placeholder="100" title="Product price">
            </div>

            <div class="col-xs-12">
                <label for="description">
                    <h4>Product description</h4>
                </label>
                <input type="text" class="form-control" name="description" id="description"
                    placeholder="Great white desk, perfect for gamers..." title="Product description">
            </div>

            <div class="col-xs-12">
                <label for="description">
                    <h4>Product Tags</h4>
                </label>
                <input type="text" class="form-control" name="productTag" id="productTag"
                    placeholder="Chair, white, ..." title="Product tag">
            </div>

        </div>
        

        <div class="form-group">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-lg btn-success pull-right" type="submit"><i
                        class="glyphicon glyphicon-ok-sign"></i>Create product</button>
            </div>
        </div>
    </form>
</section>
<!-- /create product section -->
