<title>M&L Furniture</title>

<div id="loader">
    <div id="status"></div>
</div>

<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>Shop with us  <span class="typer" id="some-id" data-delay="200" data-delim=":" data-words="Friends:Family:Officemates" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span></h1>
                        <h2>Since 1964</h2>
                        <p>M&L Father and Son artisanal products and guaranteed quality</p>
                        <div class="book-btn">
                            <a href="#gallery" class="table-btn hvr-underline-from-center">See products</a>
                        </div>
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title"> About Us </h2>
                    <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                    <p>
                        M&L Father and Son is a furniture store franchise acquired by ABC Companies to benefit
                        craftsmanship and expertise in the field of home furnishings. Founded in 1964 by Mario 
                        and Luigi Itsumi straight from Italy M&L father and son offer all ranges of products
                        for the layout of his house <span><a href="#gallery">(see gallery)</a></span>
                    </p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="about-images" style="height: 50vh;">
                        <img class="about-main" style="width: 400px; height: 400px;" src="public/images/about-main.jpg" alt="About Main Image">
                        <img class="about-inset" style="width: 170px; height: 170px;" src="public/images/about-inset.jpg" alt="About Inset Image">
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>


<div id="our_team" class="team-main pad-top-100 pad-bottom-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                    Our Team 	
                </h2>
                    <p class="title-caption text-center">
                        Since 2018, M&L Father and Son has been managed by Mario the father and Luigi brother and brother.
                        Our recipe has a good dose of humor and unfailing expertise !!
                    </p>
                </div>
                <div class="team-box">

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="public/images/team1.jpg" alt="luigi"></a>
                                </div>
                                <div class="text-col">
                                    <h3>Luigi</h3>
                                    <p>
                                        Luigi expert in mobile, web and network oriented computing. Luigi takes care of the production of our 
                                        applications and our infrastructures. His know-how is such that he can even afford corrections in 
                                        production without discontinuity of service!
                                    </p>
                                    <ul class="team-social">

                                        <li><a href="https://fr.linkedin.com/in/guillaume-cerdan-794442200"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/guillaume-cerdan-794442200"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/guillaume-cerdan-794442200"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="public/images/team3.png" alt="mario et luigi"></a>
                                </div>
                                <div class="text-col">
                                    <h3>Mario</h3>
                                    <p>
                                        Mario the father, he is old ... but he still has all his teeth, although dementia lurks him he holds the matter with an iron fist and adapts to the unexpected
                                        and difficult customers, he is at ease whether it concerns customer relations, application functionality, design, development, etc.
                                        Mario has no limits after his 30 years in the business he is about to return the hand to his sons Luigi and Luigi.
                                    </p>
                                    <ul class="team-social">
                                        <li><a href="https://fr.linkedin.com/in/christian-hecquet-978665178"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/christian-hecquet-978665178"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/christian-hecquet-978665178"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="public/images/team2.jpg" alt="mario"></a>
                                </div>
                                <div class="text-col">
                                    <h3>Luigi</h3>
                                    <p>
                                        Luigi, the first of the name, also an expert in IT and project management, V-cycle, Agility, Scrum, he knows it. Luigi helps optimize development
                                        of all the solutions in the family and sells them at a high price to customers for several million.

                                        3 days for dev no problem we do it in 1!
                                    </p>
                                    <ul class="team-social">
                                        <li><a href="https://fr.linkedin.com/in/ludovic-flament-985111183"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/ludovic-flament-985111183"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="https://fr.linkedin.com/in/ludovic-flament-985111183"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- end team-box -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end team-main -->

<div id="gallery" class="gallery-main pad-top-100 pad-bottom-100" style="background: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                    Our Gallery	
                </h2>
                    <p class="title-caption text-center">Some manufactured products from our store </p>
                </div>
                <div class="gal-container clearfix">
                    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#1">
                                <img src="public/images/gallery_01.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="1" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_01.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@spacejoy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Spacejoy</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#2">
                                <img src="public/images/gallery_02.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="2" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_02.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@sammoqadam?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sam Moqadam</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#3">
                                <img src="public/images/gallery_03.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="3" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_03.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@chatelp?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pierre Châtel-Innocenti</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#4">
                                <img src="public/images/gallery_04.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="4" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_04.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@workby?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Julien Tondu</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#5">
                                <img src="public/images/gallery_05.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="5" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_05.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@nathanrjliving?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Oakley</a> </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#9">
                                <img src="public/images/gallery_06.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="9" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_06.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@nathanrjliving?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nathan Oakley</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                        <div class="box">
                            <a href="#" data-toggle="modal" data-target="#10">
                                <img src="public/images/gallery_07.jpg" alt="" />
                            </a>
                            <div class="modal fade" id="10" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <div class="modal-body">
                                            <img src="public/images/gallery_07.jpg" alt="" />
                                        </div>
                                        <div class="col-md-12 description">
                                            <h4><a href="https://unsplash.com/@phillipgold?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Phillip Goldsberry</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end gal-container -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end gallery-main -->


<div id="pricing" class="pricing-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
                    Pricing 	
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci varius, elementum lectus nec, aliquam lectus. Duis neque augue, maximus in sapien ut, porta pharetra odio.</p>
            </div>
            <div class="panel-pricing-in">
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="public/images/store.png" alt="" />
                            </div>
                            <h3>Basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$30/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 10 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> "<%= item_0.product_id %>" </li>
                        </ul>
                        <div class="panel-footer">
                            <form action="payment" method="POST"> 
                                <script
                                    src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="<%= user_key %>" 
                                    data-amount="<%= item_0.product_price %>" 
                                    data-currency="usd" 
                                    data-name="<%= user_name %>" 
                                    data-description="<%= item_0.product_name %>" 
                                    data-locale="auto" > 
                                </script>
                                <!-- Hidden param used to manage the purchase on the server side -->
                                <input type="hidden" name="product_id" value="<%= item_0.product_id %>" />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="public/images/food.png" alt="" />
                            </div>
                            <h3>Pro</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$60/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 50 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> "<%= item_1.product_id %>"</li>
                        </ul>
                        <div class="panel-footer">
                            <form action="payment" method="POST"> 
                                <script
                                    src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="<%= user_key %>" 
                                    data-amount="<%= item_1.product_price %>"   
                                    data-currency="usd" 
                                    data-name="<%= user_name %>" 
                                    data-description="<%= item_1.product_name %>"  
                                    data-locale="auto" > 
                                </script> 
                                <!-- Hidden param used to manage the purchase on the server side -->
                                <input type="hidden" name="product_id" value="<%= item_1.product_id %>" />
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="public/images/coffee.png" alt="" />
                            </div>
                            <h3>Platinum</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$90/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> "<%= item_2.product_id %>"</li>
                        </ul>
                        <div class="panel-footer">
                            <form action="payment" method="POST"> 
                                <script
                                    src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="<%= user_key %>" 
                                    data-amount="<%= item_2.product_price %>" 
                                    data-currency="usd" 
                                    data-name="<%= user_name %>" 
                                    data-description="<%= item_2.product_name %>"  
                                    data-locale="auto" > 
                                </script>
                                <!-- Hidden param used to manage the purchase on the server side -->
                                <input type="hidden" name="product_id" value="<%= item_2.product_id %>" /> 
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end pricing-main -->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

