<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="public/styles/invoice.css">
  <link rel="stylesheet" href="public/styles/style.css">

  <!-- Custom script-->
  <script src="public/scripts/invoice.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Site Icons -->
  <link rel="shortcut icon" href="public/images/ico.ico" type="image/x-icon" />

<div id="invoice">

    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            <button id="pdfInvoice" class="btn btn-info"><i class="fa fa-file-pdf-o"></i> Export as PDF</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <img src="public/images/team3.png" width="50%" data-holder-rendered="true" />
                    </div>
                    <div class="col company-details">
                        <h2 class="name">
                          <p><%= society_info.name %></p>
                        </h2>
                        <div><p><%= society_address.line1 %></p></div>
                        <div><p><%= society_address.postal_code %></p></div>
                        <div><p><%= society_address.country %></p></div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to" style="color: e75b1e;"><p><%= user_name %> <%= user_lastname %></p></h2>
                        <div class="address"><p><%= user_address.line1 %></p></div>
                        <div class="address"><p><%= user_address.postal_code %>, <%= user_address.country %></p></div>
                        <div class="email"><a href="mailto:<%= user_email %>"><%= user_email %></a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE</h1>
                        <div class="date">Date of Invoice: <%= new Date().toLocaleDateString();%></div>
                    </div>
                </div>
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-left">DESCRIPTION</th>
                            <th class="text-right">PRICE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no"><%= product.product_id %></td>
                            <td class="text-left"><h3>
                                </h3>
                                <%= product.product_desc %>
                            </td>
                            <td class="unit"> <%= product.product_price %></td>
                        </tr>  
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td><%= product.product_ht.toFixed(2) %></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX 5.5%</td>
                            <td><%= product.product_tax.toFixed(2) %> $</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td><%= product.product_price %> $</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">Oh... I really think you've been sitting in front of your computer too long, man. Life isn't as binary as that...</div>
                </div>
                <a href="/">
                    <button id="printInvoice" class="btn btn-info validation">Got it</button>
                </a>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>