<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Basics -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Website properties -->
        <meta name="copyright" content="ABC, Mario&Luigi">
        <meta name="description" content="Mario & Luigi is the new marketplace from ABC enterprise">
        <meta name="keywords" content="E-commerce, marketplace, furniture, ABC, Mario&Luigi">
        <meta name="author" content="Group 4">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
        
        <!-- Site Icons -->
        <link rel="shortcut icon" href="/public/images/icon_top.png" type="image/x-icon" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/public/styles/bootstrap.min.css">
        <!-- Site CSS -->
        <link rel="stylesheet" href="/public/styles/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="/public/styles/responsive.css">
        <!-- color -->
        <link id="changeable-colors" rel="stylesheet" href="/public/styles/colors/orange.css" />

        <!-- Our style -->
        <link rel="stylesheet" href="/public/styles/custom.css">
        <link rel="stylesheet" href="/public/styles/productDashboard.css">

        <!-- Modernizer -->
        <script src="/public/scripts/modernizer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- Call navbar partial -->
        <%- include('partials/navbar'); %>

        <!-- Build child views here -->
        <div>
            <%- body %>
        </div>

        <!-- ALL JS FILES -->
        <script src="/public/scripts/all.js"></script>
        <script src="/public/scripts/bootstrap.min.js"></script>
        <!-- ALL PLUGINS -->
        <script src="/public/scripts/custom.js"></script>
        <!-- Allow popup disappear -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.4/isotope.pkgd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.3.3/jquery.appear.min.js"></script>


        <!-- Call footre partial -->
        <%- include('partials/footer'); %>
    </body>
</html>