<div class="container" style="margin-top: 200px; width: 40%">  

    <label style="color:#fff; font-size: 40px;">Product</label>
    <!-- Product -->
    <div class="card shop-card">
        <div class="wrapper row">
            <div class="preview col-md-12">
                
                <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                </div>
                
                
                <h3 class="product-title"><%= product.name %></h3>
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <span class="review-no">41 reviews</span>
                </div>
                <p class="product-description"><%= product.description %></p>
                <h4 class="price">current price: <span>$<%= product.price %></span></h4>
                <!-- <h5 class="colors">colors:
                    <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                    <span class="color green"></span>
                    <span class="color blue"></span>
                </h5> -->
                <div class="action">
                    <form method='POST' action='/product/basket/add/<%= product._id %>'>
                        <button class="add-to-cart btn btn-default" type="submit">add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of card -->


    <!-- CROSS SELL -->
    <% if( typeof(crossSell) != 'undefined' ) { %> 
    <label style="color:#fff; font-size: 40px;">Cross Sell</label>
    <div class="card shop-card">
        <a class="container-fliud" href="/product/<%= typeof(crossSell._id) != 'undefined' ? crossSell._id : '' %>">
            <div class="wrapper row">
                <div class="preview col-md-12">
                    
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                    </div>
                    
                    <h3 class="product-title"><%= typeof(crossSell.name) != 'undefined' ? crossSell.name : '' %></h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description"><%= typeof(crossSell.description) != 'undefined' ? crossSell.description : '' %></p>
                    <h4 class="price">current price: <span>$<%= typeof(crossSell.price) != 'undefined' ? crossSell.price : '' %></span></h4>
                </div>
            </div>
        </a>
    </div>
    <% } %>

    <!-- UPSELL -->
    <% if( typeof(upSell) != 'undefined' ) { %> 
    <label style="color:#fff; font-size: 40px;">Up Sell</label>
    <div class="card shop-card">
        <a class="container-fliud" href="/product/<%= typeof(upSell._id) != 'undefined' ? upSell._id : '' %>">
            <div class="wrapper row">
                <div class="preview col-md-12">
                    
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
                    </div>
                    
                    
                    <h3 class="product-title"><%= typeof(upSell.name) != 'undefined' ? upSell.name : '' %></h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description"><%= typeof(upSell.description) != 'undefined' ? upSell.description : '' %></p>
                    <h4 class="price">current price: <span>$<%= typeof(upSell.price) != 'undefined' ? upSell.price : '' %></span></h4>
                </div>
            </div>
        </a>
    </div>
    <% } %>
</div>