<!-- Profile section -->
<section>
    <div class="container bootstrap snippet" id="profile" style="margin-top: 200px;">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="text-white">
                    <%= user.firstName %>
                    <%= user.lastName %>
                </h1>
            </div>
        </div>
        <div class="row">
            <!--left col-->
            <div class="col-sm-3">

                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <input type="file" class="text-center file file-upload">
                </div><br>


                <div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="/product/view">View</a></div>
                    <div class="panel-body"><a href="/product/create">Create</a></div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i
                            class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i
                            class="fa fa-google-plus fa-2x"></i>
                    </div>
                </div>

            </div>
            <!--/col-3-->
            <div class="col-sm-9">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">User</a></li>
                    <li><a data-toggle="tab" href="#messages">Address</a></li>
                    <li><a data-toggle="tab" href="#settings">Account</a></li>
                </ul>


                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <!-- Get flash messages on register error -->
                        <%- include ('partials/messages'); %>
                        <!-- Patch/Put don't exists in html so we let post instead of get -->
                        <form class="form" method="POST" action="/update-user-info" id="userForm">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>First name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        placeholder="first name" title="enter your first name if any."
                                        value="<%= typeof(user.firstName) != 'undefined' ? user.firstName : '' %>">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Last name</h4>
                                    </label>
                                    <input type="text" class="form-control" name="last_name" id="last_name"
                                        placeholder="last name" title="enter your last name if any."
                                        value="<%= typeof(user.lastName) != 'undefined' ? user.lastName : '' %>">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-12">
                                    <label for="profileDate">
                                        <h4>Birth date</h4>
                                    </label>
                                    <input type="date" class="form-control" name="birth_date" id="profileDate"
                                        value="<%= typeof(user.birth) != 'undefined' ? user.birth : '' %>">
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="phone">
                                        <h4>Phone</h4>
                                    </label>
                                    <input type="text" class="form-control" name="phone" id="phone"
                                        placeholder="enter phone" title="enter your phone number if any."
                                        value="<%= typeof(user.phone) != 'undefined' ? user.phone : '' %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h4>Mobile</h4>
                                    </label>
                                    <input type="text" class="form-control" name="mobile" id="mobile"
                                        placeholder="enter mobile number" title="enter your mobile number if any."
                                        value="<%= typeof(user.mobile) != 'undefined' ? user.mobile : '' %>">
                                </div>
                            </div>

                            <!-- Hidden param used to manage the purchase on the server side -->
                            <input type="hidden" name="email" value="<%= typeof(user.email) != 'undefined' ? user.email : '' %>" />

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </form>

                        <hr>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="messages">

                        <form class="form" method="POST" action="/update-user-address" id="addressForm">
                            <div class="form-group">

                                <div class="col-xs-12">
                                    <label for="addressLine1">
                                        <h4>Address line 1</h4>
                                    </label>
                                    <input type="text" class="form-control" name="addressLine1" id="addressLine1"
                                        placeholder="Address line 1" title="Address line 1"
                                        value="<%= typeof(user.address.line) != 'undefined' ? user.address.line : '' %>">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-12">
                                    <label for="addressLine2">
                                        <h4>Address line 2</h4>
                                    </label>
                                    <input type="text" class="form-control" name="addressLine2" id="addressLine2"
                                        placeholder="Address line 2" title="Address line 2"
                                        value="<%= typeof(user.address.line2) != 'undefined' ? user.address.line2 : '' %>">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="postalCode">
                                        <h4>Postal code</h4>
                                    </label>
                                    <input type="text" class="form-control" name="postalCode" id="postalCode"
                                        placeholder="Postal code" title="Postal code"
                                        value="<%= typeof(user.address.postalCode) != 'undefined' ? user.address.postalCode : '' %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="city">
                                        <h4>City</h4>
                                    </label>
                                    <input type="text" class="form-control" name="city" id="city" placeholder="City"
                                        title="City" value="<%= typeof(user.address.city) != 'undefined' ? user.address.city : '' %>">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="state">
                                        <h4>State</h4>
                                    </label>
                                    <input class="form-control" name="state" id="state" placeholder="State"
                                        title="State" value="<%= typeof(user.address.state) != 'undefined' ? user.address.state : '' %>">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="country">
                                        <h4>Country</h4>
                                    </label>
                                    <input type="text" class="form-control" name="country" id="country"
                                        placeholder="country" title="Country" value="<%= typeof(user.address.country) != 'undefined' ? user.address.country : '' %>">
                                </div>
                            </div>

                            <!-- Hidden param used to manage the purchase on the server side -->
                            <input type="hidden" name="email" value="<%= typeof(user.email) != 'undefined' ? user.email : '' %>" />

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!--/tab-pane-->
                    <div class="tab-pane" id="settings">

                        <form class="form" method="POST" action="/update-user-account"  id="accountForm">
                            <div class="form-group">

                                <div class="col-xs-12">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" class="form-control" name="newEmail" id="newEmail" placeholder="Email"
                                        title="Email" value="<%= typeof(user.email) != 'undefined' ? user.email : '' %>">
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-12">
                                    <label for="oldPassword">
                                        <h4>Old Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="oldPassword" id="oldPassword"
                                        placeholder="Old Password" title="Old Password">
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="newPassword">
                                        <h4>New Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="newPassword" id="newPassword"
                                        placeholder="New Password" title="New Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="confirmNewPassword">
                                        <h4>Confirm New Password</h4>
                                    </label>
                                    <input type="password" class="form-control" name="confirmNewPassword"
                                        id="confirmNewPassword" placeholder="Confirm New Password"
                                        title="Confirm New Password">
                                </div>
                            </div>

                                <!-- Hidden param used to manage the purchase on the server side -->
                                <input type="hidden" name="email" value="<%= typeof(user.email) != 'undefined' ? user.email : '' %>" />


                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success pull-right" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <!--/tab-pane-->
            </div>
            <!--/tab-content-->

        </div>
        <!--/col-9-->
    </div>
    <!--/row-->
</section>
<!-- /profile section -->
