<!-- Register section -->
<section class="banner full-screen-mode parallax" style="height:auto;">
    <div class="container pr">

        <div class="register-form">

            <!-- Get flash messages on register error -->
            <%- include ('partials/messages'); %>
        
            <!-- Name Section -->
            <div>
                <div>
                    <form class="form-horizontal" role="form" action="/register" method="POST" autocomplete="off">

                        <!-- Personal information -->
                        <legend>Personal Information Details</legend>

                        <div class="form-group">
                            <!-- First name -->
                            <div class="col-sm-6">
                                <label for="firstName">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="Mario" id="firstName" name="firstName" class="form-control"
                                value="<%= typeof(firstName) != 'undefined' ? firstName : '' %>">
                            </div>
                            <!--  Last name -->
                            <div class="col-sm-6">
                                <label for="lastName">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="Itsumi" id="lastName" name="lastName" class="form-control"
                                value="<%= typeof(lastName) != 'undefined' ? lastName : '' %>">                                
                            </div>
                        </div>

                        <!-- Date of birth-->
                        <div class="form-group">
                            <div class="col-sm-4">
                                <input autofocus="true" type="date" placeholder="Date of birth" id="birth" name="birth" class="form-control"
                                value="<%= typeof(birth) != 'undefined' ? birth : '' %>">
                            </div>
                        </div>

                        <!-- Account information -->
                        <legend>Account Information</legend>

                        <!-- Email -->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="email">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="email" placeholder="mario-and-luigi@gmail.com" id="email" name="email" class="form-control"
                                value="<%= typeof(email) != 'undefined' ? email : '' %>">      
                            </div>
                            <div class="col-sm-6">
                                <label for="confirmEmail">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="email" placeholder="mario-and-luigi@gmail.com" id="confirmEmail" name="confirmEmail" class="form-control"
                                value="<%= typeof(confirmEmail) != 'undefined' ? confirmEmail : '' %>">
                            </div>
                        </div>
                        <!-- Password-->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label for="password">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="password" placeholder="Password" id="password" name="password" class="form-control"
                                value="<%= typeof(password) != 'undefined' ? password : '' %>">                              
                            </div>
                            <div class="col-sm-6">
                                <label for="confirmPassword">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="password" placeholder="confirm Password" id="confirmPassword" name="confirmPassword" class="form-control"
                                value="<%= typeof(confirmPassword) != 'undefined' ? confirmPassword : '' %>">             
                            </div>
                        </div>


                        <!-- Address Section -->
                        <legend>Address Details</legend>

                        <!-- Address line 1 -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="addressLine">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="7 street of the elves of light" id="addressLine" name="addressLine" class="form-control"
                                value="<%= typeof(addressLine) != 'undefined' ? addressLine : '' %>">     
                            </div>
                        </div>
                        <!-- Address line 2 -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input autofocus="true" type="text" placeholder="Address line 2" id="addressLine2" name="addressLine2" class="form-control"
                                value="<%= typeof(addressLine2) != 'undefined' ? addressLine2 : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Address City -->
                            <div class="col-sm-4">
                                <label for="addressCity">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="Castelgrande" id="addressCity" name="addressCity" class="form-control"
                                value="<%= typeof(addressCity) != 'undefined' ? addressCity : '' %>">   
                            </div>
                            <!-- Address State -->
                            <div class="col-sm-3">
                                <label for="password"><span>.</span></label>
                                <input autofocus="true" type="text" placeholder="Potenza (PZ)" id="addressState" name="addressState" class="form-control"
                                value="<%= typeof(addressState) != 'undefined' ? addressState : '' %>">
                            </div>
                            <!-- Address Postal code -->
                            <div class="col-sm-2">
                                <label for="addressPostalCode">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="85050" id="addressPostalCode" name="addressPostalCode" class="form-control"
                                value="<%= typeof(addressPostalCode) != 'undefined' ? addressPostalCode : '' %>">
                            </div>
                            <!-- Address Country -->
                            <div class="col-sm-3">
                                <label for="addressCountry">*<span>  required</span></label>
                                <input autofocus="true" required="true"  type="text" placeholder="Italia" id="addressCountry" name="addressCountry" class="form-control"
                                value="<%= typeof(addressCountry) != 'undefined' ? addressCountry : '' %>">
                            </div>
                        </div>
                        <!-- Submit button -->
                        <input type="submit" class="button" name="Register" value="Register">
                    </form>

                    <!-- Margin -->
                    <div style="height:200px;"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /register section -->