<!-- Product section -->
<section>
    <div class="container create-product-container">
        <%- include ('partials/messages'); %>
        <a href="/product/delete/<%= product._id %>" style="color:white;">DELETE</a>
        <form class="form create-product-form" role="form" autocomplete="off"  action="/product/update/<%= product._id %>" method="post" id="updateProductForm">
            <div class="form-group">
                <div class="col-xs-6">
                    <label for="name">
                        <h4>Product name</h4>
                    </label>
                    <input type="text" class="form-control" name="name" id="name"
                        placeholder="Desk" title="Product name" value="<%= typeof(product.name) != 'undefined' ? product.name : '' %>">
                </div>

                <div class="col-xs-6">
                    <label for="price">
                        <h4>Product price</h4>
                    </label>
                    <input type="number" class="form-control" name="price" id="price"
                        placeholder="100" title="Product price" value="<%= typeof(product.price) != 'undefined' ? product.price : '' %>">
                </div>

                <div class="col-xs-12">
                    <label for="description">
                        <h4>Product description</h4>
                    </label>
                    <input type="text" class="form-control" name="description" id="description"
                        placeholder="Great white desk, perfect for gamers..." title="Product description"
                        value="<%= typeof(product.description) != 'undefined' ? product.description : '' %>">
                </div>

                <div class="col-xs-12">
                    <label for="description">
                        <h4>Product Tags</h4>
                    </label>
                    <input type="text" class="form-control" name="productTag" id="productTag"
                        placeholder="Chair, white, ..." title="Product tag"
                        value="<%= typeof(product.cross_sell) != 'undefined' ? product.cross_sell : '' %>">
                </div>

            </div>
            

            <div class="form-group">
                <div class="col-xs-12">
                    <br>
                    <button class="btn btn-lg btn-success pull-right" type="submit"><i
                            class="glyphicon glyphicon-ok-sign"></i>Update product</button>
                </div>
            </div>
        </form>

        <!-- Margin -->
        <div style="height:500px;"></div>
        
    </div>
</section> 
<!-- /product section -->
