<!-- Market section -->
<section>
	<div class="search-container">
		<input type="text" class="search">
	</div>

	<!-- Get flash messages on register error -->
	<%- include ('partials/messages'); %>
	
	<div class="container shop-container">
		<% for(var i=0; i < product.length; i++) { %>
		<div class="card shop-card">
			<a class="container-fliud" href="/product/update/<%= product[i]._id %>">
				<div class="wrapper row">
					<div class="preview col-md-12">
						
						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						</div>
						
						
						<h3 class="product-title"><%= product[i].name %></h3>
						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div>
						<p class="product-description"><%= product[i].description %></p>
						<h4 class="price">current price: <span>$<%= product[i].price %></span></h4>
						<!-- <h5 class="colors">colors:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
						</h5> -->
						<!-- <div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
						</div> -->
					</div>
				</div>
			</a>
		</div>
		<!-- End of card -->
		<% } %>
	</div>

</section>
<!-- /market section -->