/* #####################################
    HOMEPAGE LOGO 
########################################*/
.logo-header, .logo-footer {
    width: 300px; 
    height: 80px;
}

@media (max-width: 360px) {
    .logo-header {
      width: auto;
      height: auto;
    }
}

/* #####################################
    REGISTER / CONNECTION PAGES 
########################################*/
.register-form {
  /* Escape navbar height */
  margin-top: 200px;
}

.register-form legend {
  color: #fff;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.button {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-decoration: none ;
  outline: none ;
  transition: all .3s ease-in-out ;
  display: block ;
  width: 100% ;
  padding: 14px 16px ;
  border-radius: 6px ;
  font-size: 14px ;
  line-height: 1.5 ;
  box-sizing: border-box ;
  text-align: center ;
  font-family: 'Roboto', sans-serif ;
  background: #88c9ff ;
  border: 3px solid #88c9ff ;
  color: #fff ;
}

.register-form .form-group label {
  display: inline-block;
  position: relative;
  top: 5px;
  color: #f50000;
  font-size: 18px;
  font-weight: bolder;
}
.register-form .form-group label span {
  font-size: 10px;
  color: #fff;
}

/* #####################################
    FLASH MESSAGES 
########################################*/
.alert-close {
  font-size: 40px;
  font-weight: 1000;
  border: none;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
}
.alert {
  border-radius: 10px;
  margin: auto auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
}
.alert-success {
  background: #3c763d;
  border: solid 1px #366b37;
}
.alert-warning {
  background: #a89700ad;
  border: solid 1px #978800;
}
.alert-danger {
  background: #dd0700ad;
  border: solid 1px #b60600;
}

/* #####################################
    DASHBOARD SHOP
########################################*/
.shop-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.shop-card {
  flex-basis: 30%;
  margin: 1%;
  transition: all .3s ease;
}
.shop-card:hover {
  transform: scale(1.07);
}

.file {
  margin-top: 1rem;
  width: 100px;
}


.avatar {
  width: 157px;
height: 157px;
}


#profile label > h4, .create-product-form label > h4 {
  color: white;
  margin-top: 15px;
}

.nav.nav-tabs > li:not(.active) > a:not(:hover) {
  color: white;
}

.product-title {
  margin-top: 20px !important;
  margin-bottom: 0px !important;
  font-size: 20px;
}


/* #####################################
    CREATE PRODUCT
########################################*/
.create-product-container {
  margin-top: 150px;
}


/* #####################################
    Navbar sub menu
########################################*/
.menu-home:hover + .sub-item, .sub-item:hover {
  display:block;
}

.header-block-top.fixed-menu .sub-item {
  top: 63px;
}

.sub-item {
  display: none;
  position: absolute;
  top: 78px;
  background-color: black;
  padding-top: 15px;
}
.sub-item > li {
  height: 50px;
}
.sub-item > li > a {
  padding: 15px 0px !important;
  transition: all .3s ease;
}

.sub-item > li > a:hover {
  color: #88c9ff !important;
}
.sub-item > li > a:hover:before {
  background-color: #88c9ff;
}

/* #####################################
    Market sub navbar
########################################*/
.search-container {
  margin-top: 120px;
  height: 80px;
  background-color: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  height: 30px;
  width: 400px;
}