<!-- Page footer -->
<section class="footer-box pad-top-20">
    <div class="container">
        <div class="row">
            <div class="footer-in-main">
                <div class="footer-logo">
                    <div class="text-center">
                        <img src="/public/images/logo.png" class="logo-footer" alt="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-a">
                        <h3>About Us</h3>
                        <p>Find all news and promotional codes on our social networks</p>
                        <ul class="socials-box footer-socials pull-left">
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <!-- end footer-box-a -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-b">
                        <h3>Promotions</h3>
                        <ul>
                            <li><a href="#">* ABC products clearance</a></li>
                            <li><a href="#">* XXL beds from (old collection)</a></li>
                            <li><a href="#">* Chairs by Antonio (new)</a></li>
                            <li><a href="#">* Desks by Angelo (new)</a></li>
                        </ul>
                    </div>
                    <!-- end footer-box-b -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-c">
                        <h3>Contact Us</h3>
                        <p>
                            <i class="fa fa-map-signs" aria-hidden="true"></i>
                            <span>Avenue of the elves of light, Castelgrande, Potenza (PZ) 85050 Italia</span>
                        </p>
                        <p>
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            <span>
                            +91 80005 89080 
                        </span>
                        </p>
                        <p>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span><a href="#">mal.support@gmail.com</a></span>
                        </p>
                    </div>
                    <!-- end footer-box-c -->
                </div>
                <!-- end col -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-box-d">
                        <h3>Opening Hours</h3>

                        <ul>
                            <li>
                                <p>Monday - Thursday </p>
                                <span> 9:00 AM - 9:00 PM</span>
                            </li>
                            <li>
                                <p>Friday - Saturday </p>
                                <span>  7:00 AM - 6:00 PM</span>
                            </li>
                        </ul>
                    </div>
                    <!-- end footer-box-d -->
                </div>
                <!-- end col -->
            </div>
            <!-- end footer-in-main -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    <div id="copyright" class="copyright-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 class="copy-title"> Copyright © 1964 M&amp;L Furniture is powered by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a> </h6>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end copyright-main -->
</section>
<!-- /page footer -->
