<!-- Read a list of flash messages -->
<% if(typeof errors != 'undefined') { %> 
  <% errors.forEach(function(error) { %>
      <div class="alert alert-warning" role="alert">
        <%= error.msg %>
        <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

<!-- Print a success message -->
<% }); %> <% } %> <% if(success_msg != '') { %>
  <div class="alert alert-success" role="alert">
    <%= success_msg %>
    <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- Print an error message -->
<% } %> <% if(error_msg != '') { %>
  <div class="alert alert-danger" role="alert">
    <%= error_msg %>
    <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- Print a warning message -->
<% } %> <% if(warning_msg != '') { %>
  <div class="alert alert-warning" role="alert">
    <%= warning_msg %>
    <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<!-- Print an error message -->
<% } %> <% if(error != '') { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
    <button type="button" class="alert-close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>