<!-- Navigation bar -->
<section id="site-header">
    <header id="header" class="header-block-top">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <nav class="navbar navbar-default" id="mainNav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="logo">
                                <a class="navbar-brand js-scroll-trigger logo-header" href="/">
                                    <img src="/public/images/logo.png" class="logo-header" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Check navbar properties (is user connected) before display -->
                        <!-- and ensure that nothing is missing, else we display default navigation bar -->
                        <% if( typeof(navtype) != 'undefined' ) { %> 
                            <% if(navtype){ %>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        
                                        <li class="menu-home"><a href="/#banner">Home</a></li>
                                        <ul class="sub-item">
                                            <li><a href="/#about">About us</a></li>
                                            <li><a href="/#our_team">Team</a></li>
                                            <li><a href="/#gallery">Gallery</a></li>
                                            <li><a href="/#pricing">Pricing</a></li>
                                            <li><a href="/#footer">Contact us</a></li>
                                        </ul>
                                        <li class="market"><a href="/market">Market</a></li>
                                        <li class="faq"><a href="/faq">FAQ</a></li>
                                        <li class="profile"><a href="/profile">Profile</a></li>
                                        <li class="basket"><a href="/basket">Basket</a></li>
                                        <li class="logout"><a href="/logout">Disconnect</a></li>
                                    </ul>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    
                                    <li class="menu-home"><a href="/#banner">Home</a></li>
                                    <ul class="sub-item">
                                        <li><a href="/#about">About us</a></li>
                                        <li><a href="/#our_team">Team</a></li>
                                        <li><a href="/#gallery">Gallery</a></li>
                                        <li><a href="/#pricing">Pricing</a></li>
                                        <li><a href="/#footer">Contact us</a></li>
                                    </ul>
                                    <li class="market"><a  href="/market">Market</a></li>
                                    <li class="faq"><a href="/faq">FAQ</a></li>
                                    <li class="connect"><a href="/connect">Connect</a></li>
                                    <li class="register"><a href="/register">Register</a></li>
                                </ul>
                            </div>
                        <% } %>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</section>
<!-- /navigation bar -->
